html,
body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	padding-top: 30px;
	font-family: 'Arima Madurai', cursive;
}

h1 i {
	color: #ffd000;
}

.sidebar h2 {
	margin-top: 0.8em;
	font-size: 1.7em;
}

button i {
	padding-left: 5px;
}

.buttion.button-disabled, 
.buttion.button-disabled:hover, 
button.button-disabled, 
button.button-disabled:hover {
    color: #ccc;
    border-color: #ccc;
	background-color: white;
	cursor: default;
}

/* For debug */

.elm-overlay {
	z-index: 1000;
}

/* Login button */

.login {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}

/* Menu */

.menu-actions span {
	margin-right: 15px;
}

/* Header */

.user-info {
	float: right;
	color: #aaa;
}

.user-info img {
	display: inline-block;
	margin-right: 10px;
	width: 1em;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.user-info a.logout {
	margin-left: 10px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}

.user-info a.logout:hover {
	cursor: pointer;
}

/* Filter form */

.filter-form select {
	height: 100px;
}


/* Edit beer form */

.beer-form-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}

.beer-form-modal > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: white;
}

.beer-form button:not(:first-child) {
	margin-left: 5px;
}


/* Beer list view */

table.beer-list {
	width: 100%;
}

tr.beer-count, tr.beer-style {
	color: gray;
}

tr.zero-row {
	color: #ccc;
}

.empty-beer-list {
	font-style: italic;
}

/* Info and error messages */

.status-info {
	height: 2em;
	font-style: italic;
	color: #33C3F0;
}

.errors {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	border-left: 5px solid #d9534f;
}

/* Action buttons */

.action {
	color: #222;
	cursor: pointer;
}

.action.disabled {
	cursor: default;
	color: #ccc;
}

.action:hover {
	color: #33C3F0;
}

.action.disabled:hover {
	color: #ccc;
}

