html,
body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	padding-top: 30px;
	font-family: 'Arima Madurai', cursive;
}

h1 i {
	color: #ffd000;
}

.sidebar h2 {
	margin-top: 0.8em;
	font-size: 1.7em;
}

button i {
	padding-left: 5px;
}

.spinner {
	height: 1.2em;
}

/* Page centered login button */

.login {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}

/* Buttons */

.buttons span {
	margin-right: 15px;
}

/* Header */


.user-info {
	float: right;
	color: #aaa;
}

.user-info img {
	display: inline-block;
	margin-right: 10px;
	width: 1em;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.user-info a.logout {
	margin-left: 10px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}

.user-info a.logout:hover {
	cursor: pointer;
}

/* Filter form */

.filter-form select {
	height: 100px;
}

/* Tabs */

.tabs {
    text-align: left;
    list-style: none;
    padding: 0;
    line-height: 34px;
    height: 36px;
    overflow: hidden;
    font-family: verdana;
    position: relative;
    font-size: 1.2em;
}
.tabs li:first-child {
	margin-left: 25px;
}
.tabs li {
	color: #999;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 0px;
    padding: 0 30px;
    cursor: pointer;
}
.tabs li.selected {
	color: #333;
    background: white; 
    z-index: 2;
    border: 1px solid #ccc;
    border-bottom-color: white;
}
.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}


/* Add beer form */


.add-beer-form button:not(:first-child) {
	margin-left: 5px;
}

.add-beer-form input {
	margin-bottom: 0.2em;
}

.add-beer-form .error {
	color: red;
	height: 1em;
	margin-bottom: 1em;
}

/* Edit beer form */

.beer-form-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}

.beer-form-modal > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: white;
}


/* Beer list view */

table.beer-list {
	width: 100%;
}

tr.beer-count, tr.beer-style {
	color: gray;
}

tr.zero-row {
	color: #ccc;
}

.empty-beer-list {
	font-style: italic;
}

/* Info and error messages */

.status-info {
	height: 2em;
	font-style: italic;
	color: #33C3F0;
}

.errors {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	border-left: 5px solid #d9534f;
}

/* Action buttons */

.action {
	color: #222;
	cursor: pointer;
}

.action.disabled {
	cursor: default;
	color: #ccc;
}

.action:hover {
	color: #33C3F0;
}

.action.disabled:hover {
	color: #ccc;
}

