body {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	padding-top: 30px;
	font-family: 'Arima Madurai', cursive;
}

h1 i {
	color: #ffd000;
}

.sidebar h2 {
	font-size: 1.7em;
}

tr.beer-count, tr.beer-style {
	color: gray;
}

tr .beer-year {
	padding-left: 5px;
}

tr.zero-row {
	color: #ccc;
}

.action {
	color: gray;
	cursor: pointer;
}

.action.disabled {
	cursor: default;
}

.action:hover {
	color: black;
}

.action.disabled:hover {
	color: gray;
}

.errors {
	color: red;
}
