# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Configuration file
config.py

# Compiled and packaged files
*.pyc
dist/app.zip

# Virtualenv directory
.cellar-venv/
